/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Theme Colors */

html[data-theme="blue"] {
  --light-color: rgba(35, 122, 228, 1);
  --dark-color: rgba(18, 74, 185, 1);
  --very-light-color: #e9f3ff;
}

html[data-theme="red"] {
  --light-color: #ff3c52;
  --dark-color: #d21d34;
  --very-light-color: #fef2f2;
}

/* Global */

body {
  min-height: 100vh;
  font-family: "Fira Sans", sans-serif;
  background: var(--light-color);
  background: linear-gradient(
    180deg,
    var(--dark-color) 0%,
    var(--light-color) 100%
  );
}

main {
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem;
  color: white;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

li {
  list-style-type: none;
  margin-bottom: 0.6rem;
}

small {
  font-size: 0.7rem;
}

/* Global - Input */

input {
  background-color: transparent;
  border: none;
  color: white;
}

input[type="text"] {
  font-size: 0.9rem;
  width: 100%;
}

input[type="submit"] {
  color: black;
  background-color: white;
  padding: 0.4rem 0.7rem;
  border-radius: 0.5rem;
}

input[type="checkbox"] {
  display: none;
}

/* Classes */

.title {
  margin-bottom: 2rem;
}

.title span {
  color: white;
  opacity: 0.8;
}

.add-todo {
  width: 100%;
  margin-bottom: 2rem;
  background-color: var(--light-color);
  border-radius: 0.5rem;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.todo {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  color: black;
}

.todo li {
  border-radius: 0.5rem;
  color: var(--dark-color);
  background-color: var(--very-light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo li {
  cursor: pointer;
}

.todo li div.checkbox-title,
.todo li i,
.todo li.no-todo {
  padding: 0.8rem;
}

/* Classes - Checkbox and Line Through */

.checkbox-label {
  display: inline-block;
  background-color: transparent;
  border: 2px solid var(--dark-color);
  border-radius: 5px;
  width: 1rem;
  height: 1rem;
}

.todo li div.checkbox-title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.todo li div.line-through span {
  text-decoration-line: line-through;
}

.todo li div.line-through input[type="checkbox"] + .checkbox-label {
  background-color: var(--dark-color);
}

/* Classes - Change Theme */

.change-theme {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 0.3rem;
}
